@import '../../../styles/constants';

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: $color-bg-darkest;
    gap: 1.5rem;
}

.left-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > * {
        padding: 0.5rem;
    }
}
